body{ margin:0;background-color: #EFEFEF;}
*{padding:0; margin:0;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h5{font-weight: normal;}
.clearfix::after{content:"";display: block;clear:both;}

hr{height:0;border:none;border-top:1px solid #DEDEDE;}

.topNavBar > .topNavBar-inner{padding-left:15px;padding-right:15px;}
.topNavBar .logo{font-size: 24px;font-family: "Arial Black";
    padding-top:3px;padding-bottom:4px;}
.topNavBar .logo .rs{margin-right: 4px;color:#E8676B;}
.topNavBar .logo .card{color:#9A9DA2;}
.topNavBar  nav > ul {list-style: none;margin:0;padding:0;}
.topNavBar  nav > ul > li{float:left;margin-left: 15px;margin-right: 15px; }
.topNavBar  nav > ul > li >a{font-size: 12px;color:#B7B7B7;font-weight: bold;
    border-top:2px solid transparent;border-bottom:2px solid transparent; padding-bottom: 7px;
    padding-top:7px;display:block;}
.topNavBar{padding:20px 0px 20px 0px;position: fixed;left:0;top:0;width:100%;}
.topNavBar  a{float:left;}
.topNavBar nav{float:right;padding-top:6px;}
.topNavBar  nav > ul > li >a:hover{border-bottom:3px solid #e06567;}

.banner{background-image: url(../images/background-img.jpg);height:515px;background-position: center center;background-size: cover;}
.banner .mask{height:515px;background-color: rgba(0,0,0,0.7);}

.userCard{max-width: 937px;max-height:530px;margin-left: auto;margin-right: auto;
    background:#FFFFFF;border:1px solid transparent;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.6);}
.userCard .welcome{background-color: #E6686A;color:white;display:inline-block;
    padding:5px 12px 5px 12px;position: relative;}
.userCard .triangle{display: block;border:10px solid #E6686A;width:0px;border-bottom-color:transparent;
    border-right-color:transparent;border-top-width:0px;position:absolute;left:4px;top:100%;}
.userCard .picture{float:left;}
.userCard .text{float:left;margin-left: 64px;width:470px;}
.userCard .text h1{margin-top: 24px;margin-bottom:7px;}
.userCard .pictureAndText{margin-left: 51px;margin-top: 58px;}
.userCard .text hr{ margin:25px 20px 21px 0;}
.userCard dl dt,.userCard dl dd{float:left;padding:7px 0;}
.userCard dl dt{width:30%;font-weight: bolder;}
.userCard dl dd{width:70%;color:#9da0a7;}
.userCard .media{background-color: #E8676B;text-align: center;margin-top:25px;}
.userCard svg{width:30px;height:30px;padding:10px 10px;line-height:40px;fill:white;vertical-align: top;}
.userCard .media >a{display:inline-block;border-radius: 50%;margin:18px 18px 18px 18px;}
.userCard .media >a:hover{background: #CF5D5F;}

body > main{margin-top:-340px;}
body > main .downloadResume{font-size:12px;padding:24px 58px;line-height: 14px;border:1px solid #CBCDCF;display: inline-block;
    border-radius:5px;color:#3d4451;font-weight: bold;margin-top: 38px;transition: box-shadow 0.2s;font-size: 14px;}
body > main .downloadResume-wrapper{text-align: center;background-color: #EFEFEF;}
body > main .downloadResume:hover{box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);}
main > .introduction{max-width: 937px;;margin-left: auto;margin-right: auto;
    margin-top:40px;font-size:21px;line-height:35px;font-family: 'Times New Roman';}

section.professional-skills,section.portfolio{max-width: 937px;;margin-left: auto;margin-right: auto; margin-top:50px;}
section.professional-skills >h2{text-align: center;line-height: 1.2;color:#3d4451;font-size: 29px;font-weight: 600;margin-bottom: 31px;}
section.professional-skills > ol{background: white;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.6);
    padding-bottom:20px;padding-top:35px;padding-left:50px;padding-right:20px;}
section.professional-skills ol > li{float:left;width:50%;padding-right:30px;box-sizing: border-box;}
section.professional-skills .progressBar{height:5px;background: #FAE1E1;border-radius:2px;margin-bottom: 32px;}
section.professional-skills .progressBar> .progress{height:100%;background: #E8676B;width:45%;border-radius:2px;}
section.professional-skills ol>li>h3{font-size: 14px;line-height: 1.1;padding-right: 40px;margin:7px 0;}

section.portfolio > h2{text-align: center;line-height: 1.2;color:#3d4451;font-size: 29px;font-weight: 600;padding-top:25px;padding-bottom:34px;}
section.portfolio >nav{text-align: center;}
section.portfolio >nav >ol{display:inline-block;vertical-align: top;}
section.portfolio > nav >ol >li{float:left;margin-right: 50px;  font-size: 15px; cursor: pointer;}
section.portfolio > nav >ol >li:nth-child(3){margin-right:0;}
section.portfolio >nav{display: inline-block;vertical-align: top;}
section.portfolio{text-align: center;}
section.portfolio> nav> .bar{height:6px;margin-top: 17px;border-radius: 7px;margin-left:-10px;margin-right: -12px;background: white;}
section.portfolio>nav .bar.state-one .bar-inner{background: #E8676B;height:100%;width:52px;border-radius: 4px;transition: all 0.3s;}
section.portfolio>nav .bar.state-two .bar-inner{background: #E8676B;height:100%;
    width:105px;border-radius: 4px;margin-left:77px;transition: all 0.3s;}
section.portfolio>nav .bar.state-three .bar-inner{background: #E8676B; height:100%;
    width:52px;border-radius: 4px;margin-left:215px;transition: all 0.3s;}

body .works{max-width: 937px;margin-left:auto;margin-right:auto;margin-top: 30px;margin-bottom: 157px;}
body .works> .big{margin-right: 25px;}
body .works> .small-bottom{margin-top: 18px; }
body .works> .big,
body .works > .samll-top
body .works > .small-bottom{float:left;box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.53);}