body{ margin:0;background-color: #EFEFEF;}
*{padding:0; margin:0;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.clearfix::after{content:"";display: block;clear:both;}
hr{height:0;border:none;border-top:1px solid #DEDEDE;}
.icon {width: 1em;height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
.swiper-button-prev:focus,
.swiper-button-next:focus{
    outline:none;
}

[data-x].offset{transform:translateY(70px);}
[data-x]{transform: translateY(0px);transition: all 0.5s;}

.topNavBar.sticky{background:white;padding:15px 0;color:#3d4451;z-index:1;box-shadow:0 0 10px rgba(0,0,0,0.25);}
.topNavBar > .topNavBar-inner{padding-left:15px;padding-right:15px;}
.topNavBar .logo{font-size: 24px;font-family: "Arial Black";padding-top:3px;padding-bottom:4px;}
.topNavBar .logo .rs{color:#E8676B;}
.topNavBar .logo .card{color:#9A9DA2;}
.topNavBar  nav > ul {list-style: none;margin:0;padding:0;}
.topNavBar  nav > ul > li{float:left;margin:0 15px;position: relative; }
.topNavBar  nav > ul > li >a{font-size: 12px;color:inherit;font-weight: bold;
   padding:7px 0;display:block;}
.topNavBar{padding:20px 0;position: fixed;left:0;top:0;width:100%;color:#B7B7B7;transition:all 0.2s;}
.topNavBar  a{float:left;}
.topNavBar nav{float:right;padding-top:6px;}
.topNavBar  nav > ul > li.active >a::after,
.topNavBar  nav > ul > li.highLight >a::after{/*用div来做*/content:'';display:block;width:100%;
    height:3px;border-radius:1px;background:#e06567;position:absolute;top:100%;left:0;animation:optionSlide 0.2s;}
@keyframes optionSlide{0%{width:0;}100%{width:100%;}}
.topNavBar nav > ul > li >a::after{content:'';display:block;width:0;height:3px;border-radius:1px;
    background:#e06567;position:absolute;top:100%;left:0;animation: cancelHoverSlide 0.2s; }
@keyframes cancelHoverSlide{0%{width:100%;}100%{width:0;}}
.topNavBar .submenu{padding:5px 10px;box-shadow:0 0 10px rgba(0,0,0,0.25);z-index:1;margin-top:3px;display:none;position:absolute;right:0;top:100%;background:white;color:#3d4451;font-size:12px;}
.topNavBar li.active .submenu{display:block;animation:subMenuSlide 0.2s;}
@keyframes subMenuSlide{0%{margin-right:100%;}100%{margin-right:0%;}}
.topNavBar .submenu > li{/*li里的字允许换行*/white-space: nowrap;padding:5px;cursor: pointer;}

.banner{background-image: url(../images/background-img.jpg);height:515px;background-position: center center;background-size: cover;}
.banner .mask{height:515px;background-color: rgba(0,0,0,0.7);}
.userCard{max-width: 937px;max-height:530px;margin-left: auto;margin-right: auto;
    background:#FFFFFF;border:1px solid transparent;box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.47);}
.userCard .welcome{background-color: #E6686A;color:white;display:inline-block;
    padding:5px 12px 5px 12px;position: relative;}
.userCard .triangle{display: block;border:10px solid #E6686A;width:0px;border-bottom-color:transparent;
    border-right-color:transparent;border-top-width:0px;position:absolute;left:4px;top:100%;}
.userCard .picture{float:left;padding-top:70px;padding-right:50px;}
.userCard .text{float:left;margin-left: 64px;width:470px;}
.userCard .text h1{margin-top: 24px;margin-bottom:7px;}
.userCard .pictureAndText{margin-left: 51px;margin-top: 58px;}
.userCard .text hr{ margin:25px 20px 21px 0;}
.userCard dl dt,.userCard dl dd{float:left;padding:7px 0;}
.userCard dl dt{width:30%;font-weight: bolder;}
.userCard dl dd{width:70%;color:#9da0a7;}
.userCard .media{background-color: #E8676B;text-align: center;margin-top:30px;}
.userCard svg{width:30px;height:30px;padding:10px 10px;line-height:30px;fill:white;vertical-align: top;}
.userCard .media >a{display:inline-block;border-radius: 50%;margin:18px 18px 18px 18px;}
.userCard .media >a:hover{background: #CF5D5F;}

body > main{margin-top:-340px;}
body > main .downloadResume{font-size:12px;padding:24px 58px;line-height: 14px;border:1px solid #CBCDCF;display: inline-block;
    border-radius:5px;color:#3d4451;font-weight: bold;margin-top: 38px;transition: box-shadow 0.2s;font-size: 14px;}
body > main .downloadResume-wrapper{text-align: center;background-color: #EFEFEF;}
body > main .downloadResume:hover{box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);}
main > .introduction{max-width: 937px;;margin-left: auto;margin-right: auto;
    margin-top:40px;font-size:21px;line-height:35px;font-family: 'Times New Roman';}


section.professional-skills >h2,
section.message > h2{text-align: center;line-height: 1.2;color:#3d4451;font-size: 29px;font-weight: 600;margin-bottom: 31px;padding-top:10px;}
section.professional-skills > ol{background: white;box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    padding-bottom:20px;padding-top:35px;padding-left:50px;padding-right:20px;}
section.professional-skills ol > li{float:left;width:50%;padding-right:30px;box-sizing: border-box;}
section.professional-skills .progressBar{overflow:hidden;height:5px;background: #FAE1E1;border-radius:2px;margin-bottom: 32px;}
section.professional-skills .progressBar> .progress{height:100%;background: #E8676B;width:45%;border-radius:2px;}
section.professional-skills ol>li>h3{font-size: 14px;line-height: 1.1;padding-right: 40px;margin:7px 0;}
section.professional-skills.offset .progress{transform:translateX(-100%);}
section.professional-skills .progress{transform: translateX(0);transition:all 1s;}


section.professional-skills,section.portfolio{max-width: 937px;;margin:50px auto;}
section.portfolio > h2{text-align: center;line-height: 1.2;color:#3d4451;font-size: 29px;font-weight: 600;padding-top:10px;padding-bottom:34px;}
section.portfolio{position: relative;}
section.portfolio .swiper-container {width: 608px;height: 456px; box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);}
section.portfolio .swiper-button-prev,
section.portfolio .swiper-button-next{margin-right:-100px;width:66px;height:66px;border-radius:50%;background-color:white;right:100%;left:auto;}
section.portfolio .swiper-button-next{left:100%;right:auto;margin-left:-100px;}

section.message{max-width: 900px;margin:0 auto;}
section.message > ol{border-top:3px solid #DCD;border-left:3px solid #DCD;
    border-right:3px solid #DCD; border-bottom:2px solid #DCD; background: #F4F4F4;margin-bottom:30px;}
section.message > ol > li{padding:17px;border-bottom:1px solid #DCD;}
section.message #postMessageForm{margin-bottom:200px;font-size: 15px;font-weight: bolder;}
section.message #postMessageForm .name,
section.message #postMessageForm .content{padding:5px;}
.labelContent{margin-left:20px;}
label{margin:5px;}
section.message #postMessageForm .submit{font-weight:bold;border:none;background: #3E9FFD;width:80px;height:30px;border-radius:5px;margin-left:70px;margin-top:20px;}