body{
    background-color: black;
    color:black;
    margin:0;
    background-color: #EFEFEF;

}
*{
    padding:0;
    margin:0;

}
a{
    color:inherit;
    text-decoration: none;
}
hr{
    height:0;
    border:none;
    border-top:1px solid #DEDEDE;
}
.topNavBar > .topNavBar-inner{
    padding-left:14px;
    padding-right:14px;
}
.topNavBar .logo{
    font-size: 24px;
    font-family: "Arial Black";
    padding-top:3px;
    padding-bottom:4px;
}
.topNavBar .logo .rs{
   margin-right: 4px;
   color:#E8676B;
}
.topNavBar .logo .card{
   color:#9A9DA2;
}
.clearfix::after{
    content:"";
    display: block;
    clear:both;
}
.topNavBar  nav > ul {
    list-style: none;
    margin:0;
    padding:0;

}
.topNavBar  nav > ul > li{
    float:left;
    margin-left: 15px;
    margin-right: 15px; 
 
}
.topNavBar  nav > ul > li >a{
    font-size: 12px;
    color:#B7B7B7;
    font-weight: bold;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent; 
    padding-bottom: 7px;
    padding-top:7px;
    display:block;
}
.topNavBar{
    padding:20px 0px 20px 0px;
    position: fixed;
    left:0;
    top:0;
    width:100%;
}
.topNavBar  a{
    float:left;
}
.topNavBar nav{
    float:right;
    padding-top:6px;
}
.topNavBar  nav > ul > li >a:hover{
    border-bottom:3px solid #e06567;
}
.banner{
    background-image: url(../images/background-img.jpg);
   /* height:467px;
    height:770px;*/
    height:515px;
    background-position: center center;
    background-size: cover;
}
.mask{
    height:515px;
    background-color: rgba(0,0,0,0.7);
}
.userCard{
   /* max-width: 830px;*/
   max-width: 932px;;
    margin-left: auto;
    margin-right: auto;
    border:1px solid red;
}
.userCard .welcome{
    background-color: #E6686A;
    color:white;
    display:inline-block;
    padding:5px 12px 5px 12px;
   /* padding:4px 7px 4px 7px;*/
    position: relative;
}
.userCard .triangle{
    display: block;
    border:10px solid #E6686A;
    width:0px;
    border-bottom-color:transparent;
    border-right-color:transparent;
    border-top-width:0px;
    position:absolute;
    left:4px;
    top:100%;
}
.userCard .picture{
    float:left;
}
.userCard .text{
    float:left;
   /* margin-left:56px;*/
   margin-left: 64px;
    /*width:460px;*/
    width: 525px;
}
.userCard .text h1{
   /* margin-top:22px;
    margin-bottom:6px;*/
    margin-top: 24px;
    margin-bottom:7px;

}
.userCard .pictureAndText{
    /*margin-left:46px;
    margin-top:50px;*/
    margin-left: 51px;
    margin-top: 58px;
}
.userCard .text hr{
    /*margin:20px 40px 10px 0px; */
    margin:28px 20px 24px 0;
}
.userCard dl dt,
.userCard dl dd{
 float:left;
 padding:7px 0;
}
.userCard dl dt{
    width:30%;
    font-weight: bolder;
}
.userCard dl dd{
    width:70%;
    color:#9da0a7;
}
.userCard .media{
    background-color: #E8676B;
    /*border:1px solid green;*/
    text-align: center;
    /*新加*/
    margin-top:25px;

}
.userCard svg{
    width:40px;
    /*padding:5px 0;*/
    padding:12px 0;
    line-height:30px;
    fill:black;
    vertical-align: top;
}
.userCard .media >a{
    display:inline-block;
    border-radius: 50%;
   /* width:40px;
    height:40px;*/
   /* margin:0 16px;*/
    margin:22px 22px 22px 22px;
}
.userCard .media >a:hover{
    background: #CF5D5F;
}